/* PC */
@media (min-width: 1024px) {
}

/* Tablet & Mobile */
@media (max-width: 1023px) {
  .container {
    width: 100%;
  }

  .container .music-console {
    width: 100%;
  }

  #playlist {
    margin-top: 536px;
  }
  #playlist .song {
    padding: 8px 18px;
  }
  #playlist .song .song-name {
    font-size: 16px;
    width: 50%;
    /* text truncate: ẩn bớt nội dung content */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  #playlist .song .song-singer {
    opacity: 0.6;
    font-size: 12px;
  }
  #playlist .song .song-btn {
    right: 18px;
    font-size: 24px;
  }
}

/* Tablet */
@media (min-height: 738px) and (max-height: 1023px) {
  /* #playlist .song {
    padding: 8px 64px;
  }
  #playlist .song .song-name {
    font-size: 18px;
  }
  #playlist .song .song-singer {
    opacity: 0.6;
    font-size: 14px;
  }
  #playlist .song .song-btn {
    right: 64px;
    font-size: 30px;
  } */
}

/* Mobile */
@media (max-height: 737px) {
}
